.payment {
  flex-grow: 1;
  background-color: white;


  &__header {
    font-size: 26px;
    font-weight: 700;
    color: #007185;

    text-align: center;

    padding: 10px;

    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
  }

  &__list {
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;

    padding: 20px;
    border-bottom: 1px solid lightgray;

    &:last-child {
      align-items: center;
      border-bottom: none;
    }
  }

  &__address-info {
    margin-bottom: 10px;
  }

  &__details {
    width: 100%;
    max-width: 400px;

    button {
      background: #f0c14b;
      border-radius: 2px;
      width: 100%;
      height: 30px;
      border: 1px solid;
      font-weight: bolder;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;

      transition: all 0.3ms linear;

      &:hover {
        background-color: #f0a643;
      }
    }
  }
}

.email {
  color: blue;
}