.products {
  padding: 20px 0;

  background-color: #eaeded;

  &__row {
    display: flex;
    justify-content: space-between;

    margin: 20px 0;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}