.product {
  background-color: #ffffff;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 15px;
  margin-bottom: 0.8rem;

  &:last-child {
    margin-right: 0;
  }

  &__img {
    max-height: 160px;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 20px;

    transition: transform 0.3s linear;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    margin-bottom: 10px;
  }

  &__description {
    flex-grow: 1;
    margin-bottom: 5px;
  }

  &__price-whole {
    font-size: 21px;
  }

  &__price-symbol {
    position: relative;
    font-size: 19px;
    margin-right: 2px;
  }

  &__btn {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;

    transition: all 0.3s linear;

    &:hover {
      background-color: #f0e0a2;
    }
  }
}